* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
    background-color: aquamarine;
}

body {
    background-color: bisque;
}

header {
    background-color: blue;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: yellow;
}

.page-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav-contained {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.logo, #login, #signin {
    min-width: 100px;
    min-height: 50px;
}

#links-bar {
    flex-grow: 1;
    max-width: 500px;
    height: 50px;
}

#links-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
    height: 100%;

}

#links-bar ul li {
    width: 60px;
    height: 30px;
}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 100px;
}

#intestazione-container {
    width: 650px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* debug */
    border: 1px solid black;
    background-color: blueviolet;
}

/* colorazione di prova dei contenuti dell'intestazione */
.prova {
    width: 200px;
    height:100px;
    background-color: chartreuse;
}

.bottoni {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocco {
    width: 100%;
    height: 600px;
    /* debug */
    background-color: deeppink;
    border: 1px solid blue;
}

#footer-container {
    width: 100%;
    height: 400px;
    padding-top: 20px;

    display: flex;
    flex-direction: row;

}

.lista-footer {
    width: 20%;
    height: 100%;


    display: flex;

    /* debug */
    background-color: rgb(169, 0, 0);
}

.lista-footer ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;
}

.lista-footer li {
    width: 60px;
    height: 30px;
}

/* debug per controllare dov'è l'hr*/
hr {
    height: 5px;
    background: black;
}

#footer-bar {
    width: 100%;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
}
