* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
    background-color: aquamarine;
}

body {
    background-color: bisque;
}

header {
    background-color: blue;
}

.page-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav-contained {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#logo, #login {
    min-width: 100px;
    min-height: 50px;
}

#links-bar {
    flex-grow: 1;
    max-width: 500px;
    height: 50px;
}

#links-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
    height: 100%;

}

#links-bar ul li {
    width: 60px;
    height: 30px;
}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#intestazione-container {
    width: 650px;
    height: 300px;
    /* debug */
    border: 1px solid black;
    background-color: blueviolet;
}